<footer>
    <div class="firstPart">
        <section class="col-6">
            <img class="card-img-top" [src] = "myImage_1" alt="Card image cap" class = "card_imgs">

        </section>
  
        <aside class="col-6">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elite.</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolorum facere corrupti earum, hic amet! Nemo nobis laborum labore, eius, fuga quia aliquid ipsam molestias architecto, saepe vitae consectetur excepturi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque laboriosam adipisci, incidunt facere quas libero, voluptate pariatur eum hic aperiam ea rem! Doloremque expedita illum dolor voluptatem iste impedit mollitia?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat at nobis, rerum sunt quam quod dicta, quasi debitis aspernatur quia reprehenderit incidunt, recusandae cumque harum architecto voluptate et! Obcaecati, doloremque?
            </p>
        </aside>
    </div>

    <div class="secondPart">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src] = "myImage_1" alt="Card image cap" class = "card_imgs">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
        </div>
  
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src] = "myImage_2" alt="Card image cap" class = "card_imgs">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src] = "myImage_3" alt="Card image cap" class = "card_imgs">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src] = "myImage_4" alt="Card image cap" class = "card_imgs">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>

    <div class="thirdPart">
        <div class="col-3">

        </div>
  
        <div class="col-3">
  
        </div>

        <div class="col-3">
  
        </div>

        <div class="col-3">
  
        </div>
    </div>


</footer>
